name: Terraform (backend) - Apply

on:
  push:
    branches: ["main"]
    paths:
      - "gcp/backend/**"
      - ".github/workflows/terraform-backend-apply.yml"

env:
  GCP_PROJECT_ID: intuit-taxrefund
  GCP_REGION: us-central1
  TF_ENV: dev
  TF_SERVICE_NAME: taxrefund-backend

jobs:
  apply:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    defaults:
      run:
        working-directory: gcp/backend

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Auth to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/PROJECT_NUMBER/locations/global/workloadIdentityPools/POOL_ID/providers/PROVIDER_ID"
          service_account: "github-deployer@YOUR_PROJECT_ID.iam.gserviceaccount.com"

      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.7.5"

      - name: Terraform init
        run: terraform init

      - name: Terraform apply
        run: |
          terraform apply